@model List<Hashtag>
<div class="flex justify-between text-black">
        <h3 class="font-bold text-base">Trends for you</h3>
</div>

<div class="space-y-3.5 capitalize text-xs font-normal mt-5 mb-2 text-gray-600">
        @if (Model.Count == 0){
                <div class="flex items-center gap-3 p">
                        <div class="flex-1">
                                <h2 class="font-semibold text-black">there is no hash tag</h2>

                        </div>
                </div>
        }
        else{
                @foreach (var hashtag in Model){
                        <a>
                                <div class="flex items-center gap-3 p">
                                        <div class="flex-1">
                                                <h2 class="font-semibold text-blue-700">@hashtag.Name</h2>
                                                <div class=" text-xl text-black text-bg-info border-b-2 p-2 mb-2.5">@hashtag.Count</div>
                                        </div>
                                </div>
                        </a>
                }
        }
</div>